body {
    min-width: 321px;
}
nav li {  
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.row {
    margin: auto;
}
#menu {
    padding: 0;
}
